.mediumBox{
	width: 60%;
	height: 200px;
	margin-left: 20%;
	margin-top: 20%;
	border: 1px solid;
	border-color: black;
	text-align: center;
}
#punchIn h3{
	text-align: center;
}
#punchIn h4{
	text-align: right;
}
section{
	margin-top: 20px;
}
nav li:last-child{
	position: absolute;
	right: 0;
}
aside{
	width: 160px;
	height: 100%;
	content = '';
	background-color: #222;
	position: fixed;
	top: 50px;
}
article{
	width: 60%;
	margin-left: 160px;
}
aside ul{
	padding-top: 50px;
}
